.from_name
{
	background:url(Page_basic_from_img_02.jpg);
	width:1350px;
	height:1000px;
	
}
h1
{
	color:black;
	margin:0px 0px 0px 425px;
}
h3
{
	color:black;
	margin:0px 0px 0px 200px;
}



.date_of_admission
{
	padding:30px 0px 0px 200px;
	color:#5A64F6;
	
}
.patient_id
{
	padding:10px 0px 0px 450px;
	color:#5A64F6;
	margin-top:-100px;  
}
.first_name
{
	padding:5px 0px 0px 200px;
	color:#5A64F6;
	
}
.middle_name
{
	padding:10px 0px 0px 450px;
	color:#5A64F6;
	margin-top:-100px;    
} 
.last_name
{
	padding:10px 0px 0px 725px;
	color:#5A64F6;
	margin-top:-100px;    
}
.date_of_birth
{
	padding:10px 0px 0px 200px;
	color:#5A64F6;
	margin-top:5px;    
}
.bed_no
{
	padding:10px 0px 0px 450px;
	color:#5A64F6;
	margin-top:-100px;    
}
.word_no
{
	padding:10px 0px 0px 725px;
	color:#5A64F6;
	margin-top:-100px;    
}

.submit
{ 
    padding:10px 0px 0px 540px;
	color:#5A64F6;
	margin-top:-20px; 
}
.date_of_advice
{
	padding:30px 0px 0px 200px;
	color:#5A64F6;
	
}
.time
{
	padding:10px 0px 0px 450px;
	color:#5A64F6;
	margin-top:-100px;  
}
#submit
{

	width:130px;
	height:35px;
	border:none;
	background:#4CB261;
	font-size:22px;
	color:white;
	margin-top:300px;
	margin-left:10px;
	cursor:pointer;

}
#submit:hover
{
	background:#0BDA35;
}





