.from_name
{
	background:url(medicine_data_cheak.png);
	width:1340px;
	height:750px;
	
}
h1
{
	color:red;
	margin:0px 0px 0px 425px;
}
h3
{
	color:black;
	margin:0px 0px 0px 200px;
}






.first_name 
{
	padding:50px 0px 0px 200px;
	color:#080808v;
	
}
.middle_name 
{
	padding:10px 0px 0px 450px;
	color:#080808;
	margin-top:-100px;    
} 
.last_name 
{
	padding:10px 0px 0px 725px;
	color:#080808;
	margin-top:-100px;    
}






.date_of_admission
{
	padding:10px 0px 0px 200px;
	color:#080808;
	margin-top:5px;    
}
.date_of_birth
{
	padding:10px 0px 0px 450px;
	color:#080808;
	margin-top:-100px;    
}
.phone
{
	padding:10px 0px 0px 725px;
	color:#080808;
	margin-top:-100px;    
}

.word_no
{
	padding:10px 0px 0px 200px;
	color:#080808;
	margin-top:-10px;
}

.nurse_id
{
	padding:10px 0px 0px 450px;
	color:#080808;
	margin-top:-100px; 
	
	
}



.submit
{ 
    padding:10px 0px 0px 540px;
	color:#5A64F6;
	margin-top:220px; 
}

#submit
{

	width:130px;
	height:35px;
	border:none;
	background:#4CB261;
	font-size:22px;
	color:white;
	margin-top:5px;
	margin-left:10px;
	cursor:pointer;

}
#submit:hover
{
	background:#0BDA35;
}


